body{
    font-family: 'Comfortaa', sans-serif;
    
}
.hidden{
    display: none;
}
.main-head{
    background-image: url(../img/bg2.jpg);
    min-height: 850px;
    background-size: cover;
    background-position: center;
    z-index:0;
}
.menu{
    width:100%;
    background: #393939cb;  
    position: fixed;
    z-index: 9999;
}
.logo{
    padding-top: 17px;
    padding-bottom: 10px;
    width: 140px;
}
nav ul li {
    list-style-type: none;
    padding:0;
    margin:0;
    display: inline-block;
    padding-left: 20px;
    font-size: 20px; 
}
.main-menu a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}
.main-menu a:hover{
    color: #eabab6;
    transition: ease-out 0.4s;
}
.main-menu{
    text-align: right;
    padding-top: 35px;
}
.phone{
    text-align: right;
}
.phone-number{
    color: #ffffff;
    font-weight: 600;
    font-size: 22px;
    padding-top: 25px;
    line-height: 10px;
    
}
.callback{
    color: #ffffff;
    font-size: 14px;
    text-decoration: underline;
    padding-right: 23px;
}
.callback:hover{
    color: #eabab6;
    text-decoration: none; 
   
}
.header-content{
    padding-top: 25%;
}
.header-content h1{
    text-align: left;
    color: #ffffff;
    font-size: 90px;
    font-weight: 700;
    line-height: 70px;
}
.header-content h2{
    text-align: left;
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
}
.header-content ul{
    text-align: left;
    color: #ffffff;
    list-style-type: none;
    padding:0;
    margin: 0;
    font-size: 30px;
    padding-top: 30px;
    font-weight: 700;
    padding-bottom: 60px;
}
.button1{
    display: inline-block;
    border: none;
    background-color: #c1c3ad;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 16px 35px;
    border-radius: 3px;
    box-shadow: 0 4px 0 #a2a491;
    transition: all .25s ease;
    font-weight: 700;
}
.button1:focus{
    color: #ffffff;

}
.button1:hover{
    background-color: #c8cab4;
    text-decoration: none;
    color:#ffffff;
}
.button1:active{
    background-color:#a2a491;
    transform: translateY(2px);
}
.about{
    margin-top: 170px;
    margin-bottom: 170px;
    
}
.img1{
    width: 600px;
}
.bg3{
    width: 550px;
    height: 820px;
    opacity: 0.3;
    padding-left: 30px;
    padding-top: 30px;
    position: absolute;
}
.about1 h3{
    margin-left: 15%;
    padding-top: 100px;
    position: relative;
    font-size: 20px;
    border-bottom: 4px solid #eabab6;
    display: inline-block;
    font-weight: 700;
    color: #393939;
}
.about1 p{
    position: relative;
    margin-left: 15%;
    padding-top: 7%;
    font-size: 22px;
    color: #393939;
}
.about1 button2, .about1 a{
    margin-left: 15%;
    margin-top: 7%;
    position: relative;
    display: inline-block;
    border: none;
    background-color: #eabab6;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 16px 35px;
    border-radius: 3px;
    transition: all .25s ease;
    font-weight: 700;
}
.button2:focus{
    color: #ffffff;
    border-color: 2px solid #eabab6;

}
.button2:hover{
    background-color: #ffffff;
    text-decoration: none;
    color:#eabab6;
    border: 2px solid #eabab6;
}
.button2:active{
    background-color: #ffffff;
    border: 2px solid #eabab6;
     transform: translateY(2px);
}
.about2{
    background-image: url(../img/bg5.jpg);
    min-height: 700px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}
.about2txt p{
    margin-left: 20%;
    padding-top: 17%;
    position: relative;
    font-size: 33px;
    font-weight: 700;
    color: #393939;
}
.about2txt h1{
    margin-left: 25%;
    padding-top: 2%;
    position: relative;
    font-size: 120px;
    font-weight: 700;
    color: #a2a491;
    margin-bottom: 0;
}
.about2txt h2{
    margin-left: 35%;
    position: relative;
    font-size: 70px;
    font-weight: 700;
    color: #393939;
}
.about2txt a{
    margin-left: 45%;
    margin-top: 3%;
    position: relative;
    display: inline-block;
    border: none;
    color: #393939;
    font-size: 20px;
    text-transform: uppercase;
    transition: all .25s ease;
    font-weight: 700;
    text-decoration: none;
}
.about2txt a:hover{
    color: #a2a491;
}
.about3{
    min-height: 400px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.img4{
    width: 100px;
    margin-top: 8%;
    margin-right: 12%;
    margin-left: 3%;
    padding-bottom: 2%;
}
.img5{
    width: 100px;
    margin-top: 8%;
    margin-right: 13%;
    padding-bottom: 2%;
}
.img6{
    width: 100px;
    margin-top: 8%;
    margin-left: 7%;
    margin-right: 21%;
    padding-bottom: 2%;
}
.img7{
    width: 100px;
    margin-top: 8%;
    padding-bottom: 2%;
}
.par p{
    font-size: 30px;
    color:#393939;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.about4{
    background-image: url(../img/bg7.jpg);
    min-height: 1050px;
    background-size: cover;
    background-position: center;
}
.about4 h1{
    font-size: 60px;
    color:#393939;
    font-weight: 700;
    margin-top: 6%;
    text-align: center;
    margin-bottom: 20px;
}
.item{
    text-align: center;
    font-size: em(14px);
    margin-top: 20px;
}
.img-wrap img{
    border-radius: 10em;
    border: 6px solid #eabab6;
    width: 100px;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.37)0 0 8px;
}
.item h4{
    color:#393939;
    font-weight: 700;
    padding-top: 20px;
    font-size: 1.2em;
    margin-bottom: 20px;
}
.item .item-desc h4{
    color:#fff;
    font-size: 1.3em;
    margin-top: 0;
    padding-bottom: 15px;
}
.item-desc{
    background-color: #eabab6;
    color: #fff;  
    padding: 20px;
    border-radius: 5px;
    border-bottom: 5px solid #eabab6;
}
.item-desc:hover, .img-wrap img:hover{
    border-color: #393939;
    transition: all .60s ease;
}
.item-desc p{
    color:#fff;
}
.block{
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
    border-bottom: 30px solid #eabab6;
    margin-left: 165px; 
}
.about5{
    min-height: 800px;
}
.about5 h2{
    font-size: 60px;
    color:#eabab6;
    font-weight: 700;
    margin-top: 6%;
    text-align: center;
    margin-bottom: 60px;
    
}
.contacts-text{
    font-size: 1.3em;
 
}
.contacts-text i{
    color: #eabab6;
    font-size: 1.6em;
    margin-right: 8px;
    width: 17px;
}
.contacts-text strong{
    font-weight: 700;
}


/* Страница контакты */
.main{
    min-height: 150px;
}
.contacts h2{
    color:#393939;
    font-weight: 700;
    border-bottom: 4px solid #eabab6;
    display: inline-block;
    padding-bottom: 5px;
}
.info{
    padding-top: 40px;
}
.info strong{
    font-size: 20px;
    color:#393939;
    font-weight: 700;
}
.info p{
    font-size: 18px;
    padding-top: 13px;
}
.info i{
    font-size: 20px;
    padding-right: 20px;
    padding-top: 13px;
    color: #eabab6;
}
.info i:hover{
    color: #393939;
}
.callback2 input{
    background-color: #bebebe4b;
    border: none;
    border-radius: 3px;
    padding: 15px 12px;
    width:100%;
}
.callback2{
    padding-top: 45px;
}
.callback2 label{
    width:100%;
    padding-bottom: 20px;
}
.callback2 input:focus, .callback2 textarea:focus{
    background-color: #bebebe9c;
}
.callback2 textarea{
    width: 100%; 
    background-color: #bebebe4b;
    border:none;
    border-radius: 3px;
    padding: 15px 12px;
}
.button4{
    display: inline-block;
    border: none;
    background-color: #eabab6;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 12px 25px;
    border-radius: 3px;
    box-shadow: 0 4px 0 #c79f9b;
    transition: all .25s ease;
    font-weight: 700;
    margin-top: 30px;
}
.button4:hover{
    background-color: #eabab6d3;
    text-decoration: none;
    color:#ffffff;
}
.button4:active{
    background-color:#c79f9b;
    transform: translateY(2px);
}
.map{
    margin-top: 90px;
}

/* Услуги */
.main1{
    min-height: 93px;
}
.glav{
    background-image: url(../img/bg8.jpg);
    min-height: 500px;
    background-size: cover;
    background-position: center;
}
.glav h1{
    font-size: 50px;
    color:#fff;
    font-weight: 700;
    text-align: center;
    margin-top: 150px;
}
#rectangle {
	width: 200px;
	height: 3px;
    background: #eabab6;
    margin-left: 450px;
    margin-top: 30px;
}
.glav p{
    font-size: 20px;
    color:#fff;
    font-weight: 700;
    text-align: center;
    margin-top: 35px;
}
.inf2 img{
    border-radius: 10em;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 150px;
}
.inf2 h4{
    font-size: 25px;
    color:#393939;
    font-weight: 700;
    text-align: center;
    padding-top: 30px;

}
.inf2 p{
    font-size: 20px;
    color:#393939;
    font-weight: 400;
    text-align: center;
    padding-top: 2  0px;

}
.bot{
    background-color: #eabab6;
    min-height: 490px;
    margin-top: 150px;
}
.bot h2{
    font-size: 35px;
    color:#fff;
    font-weight: 700;
    text-align: center;
    padding-top: 130px;
    text-transform: uppercase;
}
#rectangl{
	width: 200px;
	height: 3px;
    background: #fff;
    margin-left: 450px;
    margin-top: 40px;
}
.button3, .bot a{
    margin-left: 37.5%;
    margin-top: 4.5%;
    position: relative;
    display: inline-block;
    border: none;
    background-color: #393939;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 16px 35px;
    border-radius: 3px;
    transition: all .25s ease;
    font-weight: 700;
}

.button3:hover{
    background-color: #ffffff;
    text-decoration: none;
    color:#393939;
    border: 1px solid #393939;
}
.button3:active{
    background-color: #ffffff;
    border: 2px solid #eabab6;
     transform: translateY(2px);
}
.niz{
    background-color: #393939;
    min-height: 300px;

}
.txt p{
    font-size: 15px;
    color:#fff;
    font-weight: 400;
    text-align: center;
}
.txt {
    padding-top: 50px;
}
.txt2 i{
    font-size: 20px;
    padding-right: 20px;
    color: #fff;
}
.txt2 i:hover{
    color: #eabab6;
}
.txt2 {
    padding-top: 10px;
    text-align: center;
}
.txt2 p{
    font-size: 15px;
    color:#fff;
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
} 
/* О компании */
.glav1{
    background-image: url(../img/bg9.jpg);
    min-height: 500px;
    background-size: cover;
    background-position: center;
}
.glav1 h1{
    font-size: 50px;
    color:#fff;
    font-weight: 700;
    text-align: center;
    margin-top: 150px;
}
#rectangle1 {
	width: 150px;
	height: 3px;
    background: #eabab6;
    margin-left: 480px;
    margin-top: 30px;
}
.glav1 p{
    font-size: 20px;
    color:#fff;
    font-weight: 700;
    text-align: center;
    margin-top: 35px;
}
.glav2 p{
    font-size: 15px;
    color:#393939;
    font-weight: 700;
    text-align: center;
    margin-top: 35px;
}
.inf4 {
    min-height: 200px;
    margin-top: 25px;
    margin-bottom: 40px;
}
.inf5{
    background-image: url(../img/bg10.jpg);
    min-height: 260px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}
.glav3 span{
    font-size: 70px;
    color:#eabab6;
    font-weight: 700;
    margin-top: 55px;
    position: absolute;
    text-align: center;
    width: 100%;
    
}
.glav3 p{
    font-size: 20px;
    color:#fff;
    font-weight: 700;
    margin-top: 155px;
    text-align: center;
    width: 100%;
    position: absolute;  
}
.inf6 {
    min-height: 700px;
    margin-top: 90px;
    margin-bottom: 40px;
}
.inf6 h3{
    font-size: 70px;
    font-weight: 700;
    color: #393939;
    text-align: center;
    margin-bottom: 50px;
}
.img-inf .member{
    height: 350px;
    width: 350px;
}
.item-inf h4{
    font-size: 25px;
    color:#393939;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
}
.item-inf p{
    font-size: 18px;
    color:#eabab6;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
}
.glav-1{
    background-image: url(../img/bg11.jpg);
    min-height: 500px;
    background-size: cover;
    background-position: center;
}
.glav-1 h1{
    font-size: 50px;
    color:#fff;
    font-weight: 700;
    text-align: center;
    margin-top: 150px;
}
.glav-1 p{
    font-size: 20px;
    color:#fff;
    font-weight: 700;
    text-align: center;
    margin-top: 35px;
}

/* Отзывы */
.callback3 input{
    background-color: #bebebe4b;
    border: none;
    border-radius: 3px;
    padding: 25px 12px;
    width:100%;
}
.callback3{
    padding-top: 45px;
}
.callback3 label{
    width:100%;
    padding-bottom: 20px;
}
.callback3 input:focus, .callback3 textarea:focus{
    background-color: #bebebe9c;
}
.callback3 textarea{
    width: 100%; 
    background-color: #bebebe4b;
    border:none;
    border-radius: 3px;
    padding: 15px 12px;
}
.inf7{
    margin-top: 50px;
}
.inf7 h2{
    font-size: 35px;
    color:#393939;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
#comment-add{
	background: #eabab6;
	color: #fff;
	border-radius: 4px;
	display: inline-block;
	padding: 12px 45px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-family:'Open Sans', sans-serif;
	font-weight:600;
	box-shadow: 0 4px 0 #c79f9b;
	transition: all .45s ease;
	border:none;
	margin: 0 auto;
    display: flex;
    letter-spacing: 3px;
    margin-top: 20px;
}
#comment-add:hover{
    background-color: #eabab6d3;
    text-decoration: none;
    color:#ffffff;
}
#comment-add:active{
    background-color:#c79f9b;
    transform: translateY(2px);
}
#comment-field{
	margin:20px;
}